body{
    font-family: 'Poppins', sans-serif;
}

.bg-primary{
    background-color: orangered;
    padding: 5px;
    font-weight: 400;
    color: white;
}

.card {
    /* Add shadows to create the "card" effect */
    text-align: center;
    height: 180px;
    width: 500px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  .card-text{
      font-weight: bold;
  }
  .card-body{
      margin: 5px;
      padding: 5px;
  }
  .avater{
      border-radius: 60px;
      width: 80px;
      height: 80px;
  }
  a{
      background-color: tomato;
      color: white;
      font-weight: 400;
      width: 80px;
      height: 50px;
      text-decoration: none;
      margin: 5px;
      padding: 5px;
      border-radius: 5px;
  }
input[type=text]{
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }
.btn{
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}
.btn-info{
    background-color: #008CBA;
    border-radius: 4px;
}
.btn-warning{
    background-color: orangered;
    border-radius: 4px;
}
.alert{
    width: 100%;
    height: 50px;
    color: white;
    padding: 5px;
    text-align: center;
    align-content: center;
}
.alert-lightred{
    background-color: lightcoral;
}