body{
    font-family: 'Poppins', sans-serif;
}

.bg-primary{
    background-color: orangered;
    padding: 5px;
    font-weight: 400;
    color: white;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
.badge{
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
    font: 100;
    color: white;
}
.badge-follower{
    padding: 5px;
    color: black;
    background-color: lightpink;
}
.badge-following{
    padding: 5px;
    color: black;
    background-color: lightgreen;
}
.badge-repos{
    padding: 5px;
    background-color: lightcoral;
}
.badge-gist{
    padding: 5px;
    background-color: darkslategray;
}
.card {
    /* Add shadows to create the "card" effect */
    text-align: center;
    height: 180px;
    width: 500px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  .card-text{
      font-weight: bold;
  }
  .card-body{
      margin: 5px;
      padding: 5px;
  }
  .card-user {
    /* Add shadows to create the "card" effect */
    text-align: center;
    height: auto;
    width: auto;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  .usercard{
      text-align: center;
      padding: 15px;
  }
  .grid-2{
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
  .avater{
      border-radius: 60px;
      width: 80px;
      height: 80px;
  }
  a{
      background-color: tomato;
      color: white;
      font-weight: 400;
      width: 80px;
      height: 50px;
      text-decoration: none;
      margin: 5px;
      padding: 5px;
      border-radius: 5px;
  }
input[type=text]{
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }
.btn{
border: none;
color: white;
padding: 5px 50px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}
.btn-info{
    background-color: #008CBA;
    border-radius: 4px;
}
.btn-light{
    color: black;
    background-color: lightseagreen;
    border-radius: 8px;
}
.btn-dark{
    color: white;
    background-color: black;
    border-radius: 8px;
}
.btn-warning{
    background-color: orangered;
    border-radius: 4px;
}
.navbar{
    display: grid;
    grid-template-columns: auto auto;
}
.alert{
    width: 100%;
    height: 50px;
    color: white;
    padding: 5px;
    text-align: center;
    align-content: center;
}
.alert-lightred{
    background-color: lightcoral;
}
.text-success{
    color: lime;
}

.text-danger{
    color: red;
}